* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: rgba(aa, aa, aa, 0.2);
  padding: 0 0;
}
h2 {
  text-transform: uppercase;
}
h3 {
  margin: 0 0;
}
.column {
  float: left;
  width: 12rem;
}
.card {
  margin: 5px;
  width: fit-content;
  transition: 0.3s;
  border-radius: 7px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: rgb(8, 12, 255);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.container {
  padding: 4px 4px;
  background-color: rgba(200, 200, 200, 0.3);
}

.detail {
  display: inline;
  background-color: rgba(200, 200, 500, 0.3);
}
.card.container.pt-1.pb-1 {
  display: inline-block;
}
